/* body{
  background-color: #333;


}
.main{
 
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translateX(50%);
  top: 50%;
  right: 50%;
}
.box{
  background-color: cyan;
  margin: 2px ;
  width: 50px;
  text-align: center;
  height: 20px;
  
  box-shadow: 0 0 5px 2px white ;
  margin: 10px 5px;
} */























body{
  background-color: #222;
}


.container{
  
  width: 250px;
  height: 350px;
  position: absolute;
  transform: translate(50%,30%);
  right: 50%;
  padding: 5px;
border-radius: 10px;
  box-shadow: 0 0 5px 0   #eee;


 
  
}
#display{
  background-color:#333;
  border: 2px solid #333;
 color: cyan;
  width: 80%;
  height: 30px;
  font-size: 25px; 
  border-radius: 20px;
  padding: 5px;
  margin: 10px 10px 30px 10px;
  text-align: end;
  box-shadow: 0px 0px 2px 2px #222;
  
}

.rows{ 
  margin: 2px;
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;

}

.rows buttons{
  font-weight: bolder;
  border-radius: 100%;
  color: #fff;
  box-shadow: 0 0 5px 0 #555;
  margin: 5px;
  text-align: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.rows buttons:hover{
  background-color: ;
  box-shadow: 0 0 5px 0 #9f9;

}
